body{
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
}

.cointaner {
	display: flex;
	justify-content: center ;
}

.sub-container img{
	margin-right: 5px;
}

a{
	font-size: 25px;
	color: black;
	text-decoration: none;
}



h2 {
	color: brown;
	font-size: 80px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
 }

p {
	color:black;
	font-size: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    
}

.image img{
	width: 400px;
	height: 500px;
}